@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
/* <-- Для поддержки смены тем */
@theme {
  /* Твои фирменные цвета */
  --color-primary: #FF2E93;
  --color-primary-light: #FFEFF6;
  --color-bg-app: #F8F9FA;
}

:root {
  --background: #ffffff;
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Скрытие скроллбара для мобильного вида */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}